@import '../../styles/settings/index';
@import '../../styles/tools/index';

.form {
  &--container {
    @include flex-center();
    flex-direction: column;
    width: 500px;
    padding: $size-md;

    @include mobile-only {
      max-width: 100%;
      padding: 0 ;
    }
  }
}