.header {
  height: $header-height;
  background: #ffffff;

  @include mobile-only {
    height: 100px;
  }

  &__left-logo {
    @include font-h1();
  }

  &--menu-link {
    @include font-h3();
    @include font-normal();

    color: $color-text-sub;
  }
}