@import '../../styles/settings/index';
@import '../../styles/tools/index';

.banner {
  background: #ffffff;

  &__left {
    padding-right: $size-md;

    @include mobile-only {
      padding-right: 0;
      margin-top: $size-md;
    }
  }

  &--title {
    font-size: 3rem;

    @include title();
  }

  &--title, &--sub, &--started {

    @include mobile-only {
      text-align: center;
    }
  }

  .body {

    @include mobile-only {
      flex-direction: column;
      flex-flow: column-reverse;
    }
  }
}