@import '../../styles/settings/index';
@import '../../styles/tools/index';

.banner {
  background: #ffffff;

  &__left {
    padding-right: $size-md;

    @include mobile-only {
      padding-right: 0;
      margin-top: $size-md;
    }
  }

  &--title {
    font-size: 3rem;

    @include title();

    @include mobile-only {
      font-size: 2rem;
    }
  }

  &--title, &--sub, &--started {

    @include mobile-only {
      text-align: center;
    }
  }

  &--sub {
    @include mobile-only {
      font-size: 1rem !important;
    }
  }

  .body {
    padding: 50px $size-xl 120px $size-xl;

    @include mobile-only {
      padding-top: 20px;
      padding-bottom: 160px;
      flex-direction: column;
      flex-flow: column-reverse;
    }
  }
}